{block content}

Jméno: {$name}
Přijde s partnerem: {$partner|bool}
Přijde s dětmi: {$children|bool}
Přijede: {App\FrontModule\Controls\Rsvp\Control::ARRIVES[$arrive]}
Předkrm: {App\FrontModule\Controls\Rsvp\Control::STARTERS[$starter]}
Předkrm pro partnera: {App\FrontModule\Controls\Rsvp\Control::STARTERS[$starterPartner]}
Písnička: {$song}

{if $message}{$message}{/if}
