{block content}

Jméno: {$name}
Přijde s partnerem: {$partner|bool}
Přijde s dětmi: {$children|bool}
Přijedeme v pátek: {$arriveFriday|bool}
Přijedeme až v sobotu: {$arriveSaturday|bool}

{if $message}{$message}{/if}
