<div class="att-images" n:if="count($photos)">
	<ul class="reset">
		{foreach $photos as $photo}
			<li><a href="{plink :Front:Photo:large $photo->getFile()}"><span class="img"><img src="{plink :Front:Photo:small $photo->getFile()}" data-original-src-width="{$photo->getWidth()}" data-original-src-height="{$photo->getHeight()}" /></span></a></li>
		{/foreach}
	</ul>
</div>
<p class="center">Fotograf: <a href="http://pavelkaras.cz" target="_blank">Pavel Karas</a></p>
