<div class="att-images">
	<ul class="reset">
		{foreach $photos as $photo}
			<li><a href="{plink :Front:Photo:large $photo}" class="spc thickbox"><img src="{plink :Front:Photo:small $photo}"/></a></li>
		{/foreach}
	</ul>
</div>
<p>Fotograf: <a href="http://pavelkaras.cz" target="_blank">Pavel Karas</a></p>
