{block title}Fotografie a video{/block}

{block content}

<div class="w-max-840">
	<div class="video">
		<iframe src="https://player.vimeo.com/video/236364673" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<p class="center">Kamera / střih: <a href="http://www.tee-production.cz/" target="_blank">Jiří Grigarčík, T - Production</a></p>

	{control photos}
</div>
