{default $menu = []}

<div class="menu">
	<ul class="reset">
		<li n:foreach="$menu as $node" n:class="$node->isSelected() ? selected">
			<a href="{plink ':'.$node->getPresenterName().':'}"><span class="inner">{$node->getLabel()}</span></a>
		</li>
	</ul>
</div>
