<ul>
	<li><a href="{plink Announcement:}">Oznámení</a></li>
	<li><a href="{plink Ceremony:}">Obřad</a></li>
	<li><a href="{plink Party:}">Oslava</a></li>
	<li><a href="{plink Accommodation:}">Ubytování</a></li>
	<li><a href="{plink Rsvp:}">Počítáme s vámi</a></li>
	<li><a href="{plink Programme:}">Program</a></li>
</ul>
