<!DOCTYPE html>
<html class="no-js disable-transition" lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="Author" content="www.internetove-stranky.eu">
		<meta name="Keywords" content="">
		<meta name="Description" content="">

		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="format-detection" content="telephone=no">

		<title>{ifset #title}{include #title} &ndash; {/ifset}Svatba Terezy &amp; Milana</title>

		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin-ext" rel="stylesheet">
		<script src="{$basePath}/js/htmlclass.js"></script>

		<link rel="stylesheet" type="text/css" href="{$basePath}/styles/styles.css" media="screen">
		<link rel="stylesheet" type="text/css" href="{$basePath}/styles/print.css" media="print">
		<link rel="stylesheet" type="text/css" href="{$basePath}/styles/photoswipe.css" media="screen">
		<link rel="stylesheet" type="text/css" href="{$basePath}/styles/default-skin/default-skin.css" media="screen">

		<!--[if (lt IE 9)]>
		<script src="{$basePath}/js/respond.min.js"></script>
		<![endif]-->

		<link rel="shortcut icon" type="image/x-icon" href="{$basePath}/favicon.ico"> <!-- Chrome, FF -->
	</head>
	<body>
		<!-- Google Tag Manager -->
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-NQXXT9Q" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<script src="{$basePath}/js/gtm.js"></script>
		<!-- End Google Tag Manager -->

		<div id="outer-wrap">
			<div id="header">
				<p id="nav-skip">
					<a href="#main" accesskey="2" title="Přejít k obsahu (Klávesová zkratka: Alt + 2)">Přejít k obsahu</a>
					<span class="hidden">|</span>
					<a href="#main-menu">Přejít k hlavnímu menu</a>
				</p>
				<div class="in-box">
					<p id="logo">
						<a href="{plink Announcement:}">
							<img src="{$basePath}/img/logo.png" alt="Tereza &amp; Milan" width="415" height="85">
						</a>
					</p>
				</div>
			</div>

			<div id="main">
				<div class="bg-white in-box">
					<h1 class="center" n:ifset="#title">{include #title}</h1>

					<div class="w-max-840">
						<div n:foreach="$flashes as $flash" n:class="message, $flash->type.'-message'">{$flash->message}</div>
					</div>

					{include #content}

					{if ! $control instanceof App\FrontModule\Presenters\RsvpPresenter}
						<p><br></p>
						<div class="center">
							<img src="{$basePath}/img/web-kyticky.png" width="196" height="84">
						</div>
					{/if}

				</div>
			</div>

			<div id="main-menu">
				<h2 class="ca-control">
					<a href="#main-menu">
						<div class="ham">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<span class="out">Menu</span>
					</a>
				</h2>
				<div class="ca-box">
					{control menu}
				</div>
			</div>

			<div id="footer">
				<div class="point-map">
					<p class="img">
						<img src="{$basePath}/img/point-map.jpg?v=2" alt="">
					</p>
					<ul class="reset points">
						<li>
							<a href="{plink Ceremony:}" title="Obřad" n:class="point, point1, $control instanceof App\FrontModule\Presenters\CeremonyPresenter || $control instanceof App\FrontModule\Presenters\SpeechPresenter ? active"></a>
						</li>
						<li>
							<a href="{plink Accommodation:}" title="Ubytování" n:class="point, point2, $control instanceof App\FrontModule\Presenters\AccommodationPresenter ? active"></a>
						</li>
						<li>
							<a href="{plink Accommodation:}" title="Ubytování" n:class="point, point3, $control instanceof App\FrontModule\Presenters\AccommodationPresenter ? active"></a>
						</li>
						<li>
							<a href="{plink Accommodation:}" title="Ubytování" n:class="point, point4, $control instanceof App\FrontModule\Presenters\AccommodationPresenter ? active"></a>
						</li>
						<li>
							<a href="{plink Party:}" title="Oslava" n:class="point, point5, $control instanceof App\FrontModule\Presenters\PartyPresenter ? active"></a>
						</li>
						<li>
							<a href="{plink Accommodation:}" title="Ubytování" n:class="point, point6, $control instanceof App\FrontModule\Presenters\AccommodationPresenter ? active"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<script src="{$basePath}/js/jquery.js"></script>
		<script src="{$basePath}/js/jquery.collapsable.js"></script>
		<script src="{$basePath}/js/jquery.carouFredSel.js"></script>
		<script src="{$basePath}/js/jquery.lightbox.responsive.js"></script>
		<script src="{$basePath}/js/jquery.photoswipe-global.js"></script>
		<script src="{$basePath}/js/main.js"></script>

	</body>
</html>
