{block title}Hudba{/block}

{block content}

<div class="wysiwyg w-max-840">
	{foreach $playlists as $playlist => $name}
		<div n:class="$iterator->counter % 2 ? col-h-l : col-h-r">
			<h3 class="center">{$name}</h3>
			<iframe src="https://open.spotify.com/embed/user/11142252222/playlist/{$playlist}?theme=white" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>
		</div>
	{/foreach}
	<div class="break"></div>
</div>
