application:
	catchExceptions: on
	errorPresenter: Front:Error
	scanDirs: off
	mapping:
		*: App\*Module\Presenters\*Presenter


services:
	- App\Router\RouterFactory
	router: @App\Router\RouterFactory::createRouter
