extensions:
	monolog: Kdyby\Monolog\DI\MonologExtension


application:
	catchExceptions: %productionMode%
	errorPresenter: Front:Error
	scanDirs: off
	mapping:
		*: App\*Module\Presenters\*Presenter


services:
	- App\Router\RouterFactory
	router: @App\Router\RouterFactory::createRouter

	-
		implement: App\FrontModule\Controls\Menu\IFactory

	-
		class: App\FrontModule\Mails\RsvpMail

	-
		class: App\Mails\MessageFactory
		arguments:
			- %wwwDir%
			- %appDir%
			- %fromEmail%
			- %fromName%
			- %toEmail%

	-
		implement: App\FrontModule\Controls\Rsvp\IFactory
		arguments:
			- @Kdyby\Monolog\Logger::channel('rsvp')


monolog:
	name: svatba
