.programme-table.reset{
	margin-bottom:30px;

	td{
		padding:5px 20px 5px 0;

		&:last-child{
			padding-right:0;
		}
	}
}

.w-max-840{
	max-width:840px; margin-left:auto; margin-right:auto;
}

.w-max-500{
	max-width:500px; margin-left:auto; margin-right:auto;
}
.w-max-380{
	max-width:380px; margin-left:auto; margin-right:auto;

	&.reset{
		 margin-left:auto; margin-right:auto;
	}
}

.rsvp-page{
	@media @w768{
		padding-bottom:47px;

		position:relative; z-index:2;
	}
}

.illust-rsvp{
	text-align:center; margin-bottom:0;

	@media @w768{
		position:absolute; right:0; bottom:0; z-index:1;
	}
}



