<html>
	<head>
		<title>Svatba Terezy a Milana</title>
		<link rel="stylesheet" type="text/css" href="styly.css" media="screen">
	</head>
	<body>
		<div id="container">
			<img src="images/oznameni.png">
		</div>
	</body>
</html>
