<!DOCTYPE html>
<html class="no-js disable-transition" lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="Author" content="www.internetove-stranky.eu">
		<meta name="Keywords" content="">
		<meta name="Description" content="Tereza Ottová & Milan Pála Vám oznamují, že si v sobotu 22. 7. 2017 splní svůj sen a svou lásku stvrdí polibkem u kapličky na Štrčkové uprostřed valašských lesů a luk">

		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="format-detection" content="telephone=no">

		<title>{ifset #title}{include #title} &ndash; {/ifset}Svatba Terezy &amp; Milana</title>

		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin-ext" rel="stylesheet">
		<script src="{$basePath}/js/htmlclass.js"></script>

		<link rel="stylesheet" type="text/css" href="{$basePath}/styles/styles.css" media="screen">
		<link rel="stylesheet" type="text/css" href="{$basePath}/styles/print.css" media="print">

		<!--[if (lt IE 9)]>
		<script src="{$basePath}/js/respond.min.js"></script>
		<![endif]-->

		<link rel="shortcut icon" type="image/x-icon" href="{$basePath}/favicon.ico"> <!-- Chrome, FF -->
	</head>
	<body class="hp">
		<!-- Google Tag Manager -->
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-NQXXT9Q" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<script src="{$basePath}/js/gtm.js"></script>
		<!-- End Google Tag Manager -->
		<div class="in-box">
			<div class="wysiwyg center">
				<a href="{plink Ceremony:}" class="hp-anchor">
					<h1 class="center"><img src="{$basePath}/img/hp.jpg" alt="Tereza Ottová &amp; Milan Pála"></h1>

					<p class="big w-max-500">
						Vám oznamují, že si
						<span class="hp-date">v sobotu 22.7.2017</span>

						splní svůj sen a svou lásku stvrdí polibkem u kapličky
						na&nbsp;Štrčkové uprostřed valašských lesů a&nbsp;luk
					</p>
					<p>
						<span class="btn"><span>Buďte u toho s námi</span></span>
					</p>
				</a>
			</div>
		</div>


	</body>
</html>

